@font-face {
    font-family: 'Dited';
    src: url('../fonts/Dited.woff2') format('woff2'),
        url('../fonts/Dited.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Dited';
}