@font-face {
    font-family: 'Wizland';
    src: url('../fonts/Wizland.woff2') format('woff2'),
        url('../fonts/Wizland.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Wizland';
}

/* input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
    background: #c35f2d;
    height: 16px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #d47e45;
    box-shadow: -0.5px 0 0 3px #d47e45;
} */

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 20px;
    border: none;
    border-radius: 4px;
    overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #d47e45;
    border: 2px solid #d47e45;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    margin-top: -7px;
    box-shadow: calc(-100vmax - 18px) 0 0 100vmax #f2622d;
    clip-path: polygon(100% 0,
            2px 0,
            0 7px,
            -100vmax 7px,
            -100vmax 11px,
            0 11px,
            2px 100%,
            100% 100%);
}


input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 4px;
    border: 0px solid #fff;
    box-shadow: 0px 0px 0px #353535;
    background: #cecece;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

label {
    position: relative;
    display: inline-block;
}

button {
    position: absolute;
    top: 57%;
    left: 46.5%;
    z-index: 100;
    padding: 10px 35px;
    background-color: #fff;
    border: 2px solid #d47e45;
    border-radius: 3px;
    transition: all .4s ease;
    font-size: 20px;
}

button:hover {
    background-color: #d47e45;
    color: #fff;
}

.dots {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    filter: grayscale(100%) drop-shadow(0 0 0);
    transition: all .3s ease;
}

.dot {
    background: url(../img/lemon.png) center/cover;
}

.dot2 {
    background: url(../img/imbyr.png) center/cover;
}

.dot3 {
    background: url(../img/moloko-removebg-preview.png) center/cover;
}

.dot4 {
    background: url(../img/koritsa.png) no-repeat center/contain;
}

.dot5 {
    background: url(../img/vanilla.webp) center/cover;
}

.dot6 {
    background: url(../img/tort.png) center/cover;
}

.dot7 {
    background: url(../img/sweets.png) center/cover;
}

.dot8 {
    background: url(../img/croisant.webp) no-repeat center/contain;
}

.dot9 {
    background: url(../img/fruit-tea.jpg) no-repeat center/contain;
}

.dot10 {
    background: url(../img/black-tea.png) no-repeat center/contain;
}

.dot11 {
    background: url(../img/green-tea.png) no-repeat center/contain;
}

.dot12 {
    background: url(../img/grass-tea.png) no-repeat center/contain;
}

.dot13 {
    background: url(../img/easy-tea.png) no-repeat center/contain;
    filter: grayscale(0%);
}

.dot14 {
    background: url(../img/easy-tea-removebg-preview.png) no-repeat center/contain;
    filter: grayscale(0%);
}

.dot15 {
    background: url(../img/hard-tea.png) no-repeat center/contain;
    filter: grayscale(0%);
}

input[type="checkbox"]:checked+.dots,
input[type="radio"]:checked+.dots {
    filter: grayscale(0%) drop-shadow(0 0 4px);
}

.flexcenter {
    display: flex;
    align-items: center;
    column-gap: 20px;

}

.polky {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.polky img {
    height: 100vh;
    width: 750px;
    z-index: -1;
    position: absolute;
    top: 0;
}

.polka2 {
    right: 0;
}

.polka {
    left: 0;
}

.fructs {
    left: 100px;
}

.black {
    left: 285px;
}

.green {
    left: 440px;
}

/* .travany {
    top: 150px;
    left: 530px;
} */

.label {
    position: absolute;
    color: aliceblue;
}

.lemon,
.imbyr,
.milk,
.koritsa,
.vanil {
    top: 370px;
}

.lemon {
    left: 100px;
}

.imbyr {
    left: 230px;
}

.milk {
    left: 340px;
}

.koritsa {
    left: 470px;
}

.vanil {
    left: 560px;
}

.tort,
.sweet,
.croisant {
    top: 590px;
}

.tort {
    left: 170px;
}

.sweet {
    left: 300px;
}

.croisant {
    left: 440px;
}

.ranges {
    position: absolute;
    top: 30%;
    left: 45%;
    z-index: 100;
}

.mitsnist {
    position: absolute;
    top: 40%;
    left: 47%;
}

.mitsnist label {
    padding-bottom: 13px;
}

.fructs, .black, .green {
    top: 150px;
}

@media (max-width: 1366px) {
    .polky img {
        width: 600px;
    }

    .tort,
    .sweet,
    .croisant {
        top: 61%;
    }

    .tort {
        left: 90px;
    }

    .sweet {
        left: 220px;
    }

    .croisant {
        left: 360px;
    }

    .lemon {
        left: 45px;
    }

    .imbyr {
        left: 180px;
    }

    .milk {
        left: 289px;
    }

    .koritsa {
        left: 420px;
    }

    .vanil {
        left: 540px;
    }

    .lemon,
    .imbyr,
    .milk,
    .koritsa,
    .vanil {
        top: 38%;
    }

    .ranges {
        top: 25%;
        left: 43.2%;
    }

    .fructs {
        left: 45px;
    }
    
    .black {
        left: 230px;
    }
    
    .green {
        left: 380px;
    }

    .fructs, .black, .green {
        top: 14%;
    }

    .mitsnist {
        left: 46%;
    }

    button {
        top: 65%;
        left: 45%;
    }

    input[type="range"] {
        width: 63px;
    }
}